
body {
  display: grid;
}
.Navbar1{

  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color: rgb(175, 73, 25);
  color: white;
  outline: none ;
  text-decoration: none;
} 

.Navbar1 h1 a{
  text-decoration: none;
}


nav ul{
  display: flex;
  
}


nav ul li{
  list-style: none;
  font-size: large;
  margin-top: 5%;
 
}

nav ul li a{
  font-size: large;
  padding: 0.5rem;
  text-decoration: none;

}

.Container {
  align-items: center;
  background-color:rgb(235, 231, 229);
  font-size: large;
  text-align-last: center;

} 



.productCard{
  display: inline-block;
  justify-content: center;
  padding: 50px;
  overflow: hidden;
  padding: 0;
  margin: 10px;
  align-items: center;
  font-size: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  


}

.productCard img{
  display: ;
  height: 250px;
  width: 200px;
  object-fit: cover;
  align-items: center;

 
}

div .CardIndividual {
  display: flex;
  justify-content: center;
   min-height: 50vh; /* Asegura que ocupe toda la altura de la pantalla */
   text-align: center;
  }

div .CardIndividual .card-img{
  display: block;
  margin: auto;
  width: 12rem;
  align-content: center;
 
}