

.Navbar1{

  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color: rgb(175, 73, 25);
  color: white;
  outline: none ;


} 


nav ul{
  display: flex;
}

nav ul li{
  list-style: none;
  font-size: large;
  margin-top: 5%;

}

nav ul li a{
  font-size: large;
  padding: 0.5rem;

}

.Container {
  align-items: center;
  background-color:rgb(235, 231, 229);
  font-size: large;
  text-align-last: center;

} 



.productCard{
  display: inline-block;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  margin:5px ;
  max-width: 100%;
  
  
}

.productCard img{
  height: 400px;
  width: 235px;
  
 
}
